/*	
	============================================================================================================================================
																	START
	============================================================================================================================================
*/

	body {
		font-family: 'Arial', sans-serif;
		font-size: 14px;
		line-height: 18px;
		overflow: hidden;
		color: #333;
		background: #E8E8E8;
		-webkit-text-size-adjust: 100%;
	}
	h1 {
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
		line-height: 18px;
		margin: 35px 0 30px 0;
		font-weight: 700;
	}
	p {
		margin: 18px 0;
	}
	b {
		font-weight: 700;
	}
	em {
		font-style: italic;
		color: #e7530d;
	}
	a {
		color: #0005ff;
	}
	hr {
		border: none;
		border-top: 1px solid rgb(212, 212, 212);
		border-bottom: 1px solid white;
		display: block;
		height: 0px;
		line-height: 0px;
		margin: 20px 0 40px 0;
		padding: 0;
	}
	ul li {
		list-style: square;
		margin-left: 40px;
		padding: 3px 0;
	}
	
	p.i {
		padding: 10px 10px 10px 40px;
		border: 1px solid #3fabcc;
		background-color: #b1e5f5;
		background-image: url(../images/info.png);
		background-repeat: no-repeat;
		background-position: 8px 11px;
		color: #444;
	}
	p.w {
		padding: 10px 10px 10px 40px;
		border: 1px solid #cc9b3f;
		background-color: #f3dfb9;
		background-image: url(../images/warning.png);
		background-repeat: no-repeat;
		background-position: 8px 11px;
		color: #444;
	}
		
	pre.prettyprint {
		font-size: 12px;
		line-height: 16px;
		border: none;
		padding: 4px;
		background: #f8f8f8;
		color: #bbb;
	}
	pre.prettyprint ol li {
		list-style: decimal;
		margin-left: 30px;
		padding: 2px;
	}
	code.prettyprint {
		font-size: 12px;
		line-height: 12px;
		border: none;
		padding: 3px 6px;
		margin: 0 4px;
	}
	
/*	
	============================================================================================================================================
																	BAR
	============================================================================================================================================
*/	

	#fsn .fsn-bar {
		background: #1a302e;
		-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
		-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
	}
	#fsn .fsn-bar .fsn-menu {
		border-top: 1px solid #111f1d;
		border-bottom: 1px solid #233D3B;
	}
	#fsn .fsn-bar .fsn-menu li {
		margin: 0;
		list-style: none;
		padding: 0;
	}
	#fsn .fsn-bar .fsn-menu li span {
		display: block;
		border-top: 1px solid #233D3B;
		border-bottom: 1px solid #111f1d;
		color: #fff;
		text-transform: uppercase;
		width: 200px;
		padding: 10px 15px;
		font-size: 12px;
		line-height: 12px;
	}	
	#fsn .fsn-bar .fsn-menu li.fsn-current span:hover,
	#fsn .fsn-bar .fsn-menu li.fsn-current span {
		background: #305957;
		border-top-color: #376663;
		border-bottom-color: #0e1a19;
	}
	#fsn .fsn-bar .fsn-menu li span:hover {
		background: #1d3633;
	}
	
	#fsn .fsn-bar .fsn-menu .fsn-current .fsn-menu-family.fsn-level-2 {
		display: block;
	}
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 {
		display: none;
		border-top: none;
	}
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li span {
		background: #132422;
		color: #fff;
		text-transform: none;
		width: 175px;
		padding: 10px 15px 10px 40px;
		font-size: 12px;
		line-height: 12px;
		border: none;
		color: #376663;
	}	
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li.fsn-current span {
		background: #132422;
		color: #ddd;
	}	
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li span:hover {
		background: #162927;
	}	
	
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li span.item-Settings,
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li span.item-Attributes	{
		background-image: url(../images/settings.png);
		background-repeat: no-repeat;
		background-position: 15px 7px;
	}	
	#fsn .fsn-bar .fsn-menu .fsn-menu-family.fsn-level-2 li span.item-Attributes {
		background-image: url(../images/attributes.png);
	}	
	
/*	
	============================================================================================================================================
																	CONTENT
	============================================================================================================================================
*/	

	#fsn .fsn-page {
		background: #e8e8e8;
	}
	#fsn .fsn-page .padding {
		padding: 40px;
	}
	
/*
	-------------------------------------------------------
						TABLE
	-------------------------------------------------------
*/	
	
	#fsn table {
		width: 100%;
		border-spacing: 2px 1px;
		border-collapse: separate;
	}
	#fsn table th,
	#fsn table td {
		background: #d8d8d8;
		font-size: 13px;
		line-height: 13px;
		padding: 7px;
		width: 33%;
	}
	#fsn table td.pre {
		padding: 0;
	}
	#fsn table th {
		font-weight: 700;
	}
	#fsn table td em {
		color: #cc9779;
	}
	#fsn table td pre.prettyprint {
		background: none;
	}

/*	
	============================================================================================================================================
																	FOOTER
	============================================================================================================================================
*/	

	#fsn .fsn-footer .body-footer {	
		padding: 5px 0;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		color: #999;
	}
	#fsn .fsn-footer p {	
		margin: 0;
	}
	#fsn .fsn-footer a {	
		color: #444;
	}